
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
  }
  
  .dropdown-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    text-decoration: none;
    color: #000000;
    translate: -20px;
    padding-bottom: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 25px;
  }
  
  

#popular-product{
    max-width: 1250px;
    margin: 10px 0px;
    overflow: hidden;
    /* display: block;
    position: absolute; */
    justify-content: center;
    transform: translateY(-30px);
}
#popular-product h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #006813;
}
#popular-product p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    justify-content: space-between;
    text-align: center;
}
#popular-product{
    margin: 50px auto;
}
.product-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px;
    align-items: center;
    margin: 40px 0px;
    translate: 150px;
}
.product-box img{
    width: 90%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}
.product-box{
    width: 100%;
    border: 2px solid #006813;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.product-box strong{
    font-family: 'Roboto', sans-serif;
    color: #202020;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
}
.product-box .quantity{
    font-family: 'Roboto', sans-serif;
    color: #6b6b6b;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.product-box .price{
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #000000;
}
.product-box .cart-btn{
    width:100%;
    height: 40px;
    background-color: #ffffff;
    color: #006813;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
    transition: all ease 0.3s;
}
.product-box .cart-btn i{
    margin-right: 10px;
}
.product-box .cart-btn:hover{
    background-color: #006813;
    color: #ffffff;
    transition: all ease 0.3s;
}
.product-box .like-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    color: #006813;
    font-size: 1.3rem;
}

